.activitiesdetail-content{
  margin-top: 50px;
}

.activitiesdetail-info , .activitiesdetail-join-info{
  border-bottom: 1px solid #F0EFF6;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.activitiesdetail-info p , .activitiesdetail-join-info p{
  margin: 0;
}

.activitiesdetail-activity-name{
  font-size: 1.5rem;
}
