
.business-detail-content .panel{
  border: none;
  border-radius: 0;
}

.seller-img{
  width: 64px;
  height: 64px;
}
.img-distance{
  margin-left:5px;
  margin-top:3px;
}
.setFont{
  font-size:1.2rem;
}

.business-detail-content .basic-head{
  background-color:#fff;
  overflow: hidden;
  font-size:1.2rem;
}
.business-up{
  height:75px;
  /*overflow:hidden;*/
}
.business-detail-content .basic-left{
  float:left;
  width:25%;
  /*border:1px solid red;*/
}
.business-detail-content .basic-left .logo-img{
  width:64px;
  height: 64px;
}
.business-detail-content .basic-right{
  float:left;
  width:75%;
  /*padding:0px 0.5rem;*/
}
.business-detail-content .basic-right h3{
  margin:0;
  float:left;
  font-size:1.5rem;
}
.business-detail-content .basic-right div span{
  float:right;
}
.business-detail-content .basic-right p{
  clear:both;
}
.business-detail-content .basic-pics{
  clear: both;
}
.business-detail-content .intro{
  clear:both;
  padding-top:1rem;
}
